*{
    box-sizing: border-box;
}
body{
    margin: 0;    
    background-color: rgb(238, 242, 247);
    font-family: 'Oswald', sans-serif;
}
/* --------------------naviagtion------------------ */
.navigation_container{
    height: 12vh;
    display: flex;
    align-items: center;
    filter: brightness(0.85);
    background-color: #383434ea;
    box-shadow:
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}
.navigation{
    height: 60%;
    margin-left: 5rem;
    border-radius: 0.3rem;
    /* background-color: rgba(59, 53, 53, 0.61); */
    box-shadow: 1px 1px 5px 0px rgba(167, 168, 166, 0.965) inset;
    
}
.color_filter{
    width: 14rem;
    display: flex;
}
.filter{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.65;
}
div.color_filter div.filter:hover{
    opacity: 1;
    box-shadow: inset 0 0 10px #1616167e;
    background-color: rgba(65, 64, 64, 0.527);
    border-radius: 0.3rem;
    
}
.color{
    height: 50%;
    width: 50%;
    filter: brightness(1.2);
    border-radius: 0.2rem;
}
.pink{
    background: rgb(247, 54, 134);
}
.blue{
    background: rgb(22, 124, 251);
}
.green{
    background: rgb(55, 216, 110);
}
.black{
    background: rgb(37, 36, 36);
}
.editing_option{
    width: 8rem;
    display: flex;
}
.icon_container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.65;
}
div.icon_container:hover{
    opacity: 1;
    box-shadow: inset 0 0 15px #1616167e;
    background-color: rgba(65, 64, 64, 0.527);
    border-radius: 0.3rem;
}
.fas{
    font-size: 1.6rem;
}
.active{
    background-color: rgba(41, 40, 40, 0.527);
    opacity: 1;
    border-radius: 0.3rem;
}

/* --------------------Main Area------------------ */
.main_container{
    height: 90vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}

/* ------------ Modal Container -------------------- */
.modal_container{
    height: 18rem;
    width: 36rem;
    position: absolute;
    left: calc((100vw - 36rem)/2);   /* to keep it in center */
    top: 30vh;
    display: flex;
    overflow: auto;
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.input_container{
    height: 100%;
    width: 73%;
}
.modal_input{
    height: 100%;
    width: 100%;
    padding: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 145%;
    outline: none;          /* to remove the outline from the input area when clicked */
}
.modal_filter{
    height: 100%;
    width: 27%;
    background-color: rgb(58, 56, 56);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.7rem 1.2rem;
}

.modal_filter>.filter{
    height: 15%;
    width: 60%;
    box-shadow: inset 0 0 15px #1616167e;
}

div.modal_filter div.filter:hover{
    opacity: 1;
    box-shadow: none;
}

.border{
    border: 0.2rem solid rgb(7, 7, 7);
    opacity: 1;
}

/* -------------Task Container ----------------- */
.task_container{
    height: 10rem;
    width: 16rem;
    margin: 1rem 0.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}
.color_bar{
    height: 10%;
}
.color_bar:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(75, 75, 77);
}
.task_description{
    height: 90%;
    width: 100%;
    padding: 0 1rem;
}
.task_header{
    display: flex;
}
.uid{
    width: 85%;
    margin-top: 2%;
    margin-bottom: 0.3rem;
    color: #444;
}
.task_icon_container{
    margin-top: 2%;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.task_icon_container:hover{
    background-color: rgb(240, 241, 243);
    box-shadow: inset 0 0 15px #1616167e;
    border-radius: 0.3rem;
}
.task_icon_container>.fas{
    font-size: 1.2rem;
}
.task_icon_active{
    box-shadow: inset 0 0 15px #1616167e;
    border-radius: 0.3rem;
}
.task_area{
    height: 65%;
    overflow: auto;
    word-break: break-all;   /* to break the words */
    text-align: center;
}

/* ----------Responsive----------- */
@media only screen and (max-width: 700px) {
    .navigation{
        margin-left: 2rem;
    }
    .color_filter{
        width: 12rem;
    }
    .editing_option{
        width: 5rem;
    }
    .task_container{
        height: 8rem;
        width: 14rem;
    }
    .task_area{
        height: 60%;
    }
    .modal_container{
        height: 16rem;
        width: 33rem;
    }
}